@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../assets/fonts/inter-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../assets/fonts/inter-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Gujarati";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/noto-sans-gujarati-gujarati-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Noto Sans Gujarati";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../assets/fonts/noto-sans-gujarati-gujarati-500-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Noto Sans Gujarati";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("../assets/fonts/noto-sans-gujarati-gujarati-600-normal.woff2")
    format("woff2");
}
